<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
       name="aurobot" >

  <!-- generic simulator_gazebo plugins for starting mechanism control, ros time, ros battery -->
  <xacro:include filename="$(find aurobot_description)/gazebo/gazebo.urdf.xacro"/>
  <!-- materials for visualization -->
  <xacro:include filename="$(find aurobot_description)/urdf/materials.urdf.xacro"/>
  <!-- The following included files set up definitions of parts of the robot body misc common stuff -->
  <xacro:include filename="$(find aurobot_description)/urdf/common.xacro"/>
  <!-- Robot base -->
  <xacro:include filename="$(find aurobot_description)/urdf/profiles/profiles.urdf.xacro"/>
  <xacro:include filename="$(find aurobot_description)/urdf/base/base.urdf.xacro"/>
  <xacro:include filename="$(find aurobot_description)/urdf/bearing/bearing.urdf.xacro"/>
  <xacro:include filename="$(find aurobot_description)/urdf/trunk/trunk.urdf.xacro"/>
  <!-- PA10 Arm -->
  <xacro:include filename="$(find aurobot_description)/urdf/shoulder/shoulder.urdf.xacro"/>
  <xacro:include filename="$(find aurobot_description)/urdf/upper_arm/upper_arm.urdf.xacro"/>
  <xacro:include filename="$(find aurobot_description)/urdf/forearm/forearm.urdf.xacro"/>
  <xacro:include filename="$(find aurobot_description)/urdf/profiles/profiles.urdf.xacro"/>
  
  <!-- Joint the robot to the world -->
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="profiles_link"/>
  </joint>

  <!-- Add the base -->
  <xacro:profiles child="base_down_link"/>
  <xacro:base child="bearing_under_link"/>
  <xacro:bearing child="trunk_link"/>
  <xacro:trunk left_child="l_shoulder_roll_link" head_child="head_link"/>

  <!-- Head -->
  <link name="head_link">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>
    <visual>
      <origin xyz="-0.15 0 0.16" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.3 0.3"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin xyz="-0.15 0 0.16" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.3 0.3"/>
      </geometry>
    </collision>
  </link>

  <!-- Add the left PA10 -->
  <xacro:pa10_shoulder side="l" child="l_elbow_flex_link"/>
  <xacro:pa10_upper_arm side="l" child="l_wrist_flex_link"/>
  <xacro:pa10_forearm side="l" child="l_jr3_link"/>
  
  <!-- JR3 -->
  <link name="l_jr3_link">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.40"/>
    <inertia ixx="0.012500"  ixy="0.000005"  ixz="0.000005" iyy="0.011431" iyz="0.000005" izz="0.012500"/>
  </inertial>
  <visual>
    <geometry>
    <mesh filename="package://aurobot_description/meshes/jr3/jr3.stl"/>
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
      <geometry>
    <mesh filename="package://aurobot_description/meshes/jr3/jr3.stl"/>
      </geometry>
    </collision>
  </link>

</robot>