<?xml version="1.0"?>

<!-- XML namespaces -->
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Things that are needed only for Gazebo (not the physical robot).  These include
       sensor and controller plugin specifications -->
  <xacro:include filename="$(find aurobot_description)/urdf/robot-base/trunk/trunk.gazebo.xacro"/>
  <xacro:include filename="$(find aurobot_description)/urdf/common.xacro"/>

 <!-- ============================   Profiles   ============================ -->

  <xacro:macro name="trunk" params="left_child head_child right_child">
    <!-- Trunk link -->
    <link name="trunk_link">
      <inertial>
        <mass value="76.5"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.00"  ixy="0.00"  ixz="0.00" iyy="0.00" iyz="0.00" izz="0.00"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://aurobot_description/meshes/robot-base/trunk/trunk.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://aurobot_description/meshes/robot-base/trunk/trunk.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <joint name="trunk_left_joint" type="fixed">
      <parent link="trunk_link"/>
      <child link="${left_child}"/>
      <origin xyz="0 0.13790 1.22809" rpy="0 1.0471975512 1.5707963268"/>
    </joint>




    <joint name="trunk_head_joint" type="fixed">
      <parent link="trunk_link"/>
      <child link="${head_child}"/>
      <!-- BRAYAN (16/05/2017): Temporalmente puesto como una cabeza adelantada orientada hacia adelante -->
      <!-- <origin xyz="0.045 -0.025 1.71" rpy="-2.2689280276 0 -1.570796327"/> -->

      <!-- BRAYAN (17/11/2017): posicion por calibracion de Matlab del RGB.
      Bueno (con mesa):
      <origin xyz="0.830607606 1.53007489 1.765743891" rpy="-1.9908528 0.0044288 -3.1353181"/>
      
      new-my-checkers: [ x: -2.743256, y: 0.0229434, z: -0.0118721 ]
      <origin xyz="0.830607606 1.53007489 1.7083008379" rpy="-1.957857825 0.00229434 -3.1297206"/>

      new-my-checkers-v2: [ x: -2.7073592, y: -0.0542398, z: -1.5664367 ]
      <origin xyz="0.825607606 1.54007489 1.745743891" rpy="-1.985961037 0.00542398 -3.127233027"/>

      new-my-checkers-v3: [ x: -2.693058, y: -0.0482789, z: -3.1355064 ]
      <origin xyz="0.849 1.48349 1.71034" rpy="-2.693058 -0.0482789 -3.1355064"/>

      Esta es buena para agarres frontales pero falla hacia abajo
      <origin xyz="0.820 1.54049 1.73034" rpy="-1.9945 0.00562789 -3.1305064"/>
      -->
      <origin xyz="0.820 1.54049 1.73034" rpy="-1.9645 0.00562789 -3.1105064"/>
    </joint>




    <joint name="trunk_right_joint" type="fixed">
      <parent link="trunk_link"/>
      <child link="${right_child}"/>
      <origin xyz="0 -0.13790 1.22809" rpy="0 -1.0471975512 1.5707963268"/>
    </joint>

    <!-- extensions   -->
    <xacro:trunk_gazebo/>
  </xacro:macro>
</robot>
