<?xml version="1.0"?>

<!-- XML namespaces -->
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Things that are needed only for Gazebo (not the physical robot).  These include
       sensor and controller plugin specifications -->
  <xacro:include filename="$(find aurobot_description)/urdf/robot-base/trunk/trunk.gazebo.xacro"/>
  <xacro:include filename="$(find aurobot_description)/urdf/common.xacro"/>

 <!-- ============================   Profiles   ============================ -->

  <xacro:macro name="trunk" params="left_child head_child right_child">
    <!-- Trunk link -->
    <link name="trunk_link">
      <inertial>
        <mass value="76.5"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.00"  ixy="0.00"  ixz="0.00" iyy="0.00" iyz="0.00" izz="0.00"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://aurobot_description/meshes/robot-base/trunk/trunk.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://aurobot_description/meshes/robot-base/trunk/trunk.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <joint name="trunk_left_joint" type="fixed">
      <parent link="trunk_link"/>
      <child link="${left_child}"/>
      <origin xyz="0 0.13790 1.22809" rpy="0 1.0471975512 1.5707963268"/>
    </joint>
    <joint name="trunk_head_joint" type="fixed">
      <parent link="trunk_link"/>
      <child link="${head_child}"/>
      <!-- BRAYAN (16/05/2017): Temporalmente puesto como una cabeza adelantada orientada hacia adelante -->
      <!-- <origin xyz="0.045 -0.025 1.71" rpy="-2.2689280276 0 -1.570796327"/> -->

      <!-- BRAYAN (14/07/2017): posicion a la izquierda buena para agarres de frente.
        Tiene en Roll (X) 112.4 negativos.
        Tiene en Pitch (Y) 0.
        Tiene en Yaw (Z) unos 175.7 grados de desviacion -->
      <origin xyz="0.775 1.545 1.738" rpy="-1.9634954085 0 3.0665434958"/>
      <!--
        Nueva prueba (19/07/2017):
        Tiene en Roll (X) 112 negativos.
        Tiene en Yaw (Z) unos 176.2 grados de desviacion -->
      <!-- <origin xyz="0.775 1.537 1.735" rpy="-1.9547687622 0 3.075270142"/> -->
    </joint>
    <joint name="trunk_right_joint" type="fixed">
      <parent link="trunk_link"/>
      <child link="${right_child}"/>
      <origin xyz="0 -0.13790 1.22809" rpy="0 -1.0471975512 1.5707963268"/>
    </joint>

    <!-- extensions   -->
    <xacro:trunk_gazebo/>
  </xacro:macro>
</robot>
