<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="pa10_blue_upper_arm_gazebo">
    <!-- E1: Elbow flex -->
    <gazebo reference="pa10_blue_elbow_flex_link">
      <turnGravityOff>true</turnGravityOff>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Green</material>
    </gazebo>
    <gazebo reference="pa10_blue_elbow_flex_joint">
      <stopKd value="1.0" />
      <stopKp value="1000000.0" />
    </gazebo>
    
    <!-- E2: Forearm roll -->
    <gazebo reference="pa10_blue_forearm_roll_link">
      <turnGravityOff>true</turnGravityOff>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="pa10_blue_forearm_roll_joint">
      <fudgeFactor value="0.5" />
    </gazebo>
  </xacro:macro>
</robot>
