<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find aurobot_control)/config/aurobot_left_controllers.yaml" command="load" ns="aurobot"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="aurobot" args="l_arm_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="sim_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen" >
    <remap from="/joint_states" to="/aurobot/joint_states"/>
  </node>  
  
</launch>