<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="pa10_shoulder_transmission" params="side">
    <!-- S1: Shoulder roll -->
    <transmission name="${side}_shoulder_roll_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${side}_shoulder_roll_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${side}_shoulder_roll_motor">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>${13/3 * 250.532/17.19 / cal_r_shoulder_roll_gearing}</mechanicalReduction>
        <compensator k_belt="4000.0" mass_motor="0.05" kd_motor="15.0" lambda_motor="40.0" lambda_joint="40.0" 
          lambda_combined="0.0"/>
      </actuator>
    </transmission>

    <!-- S2: Shoulder lift -->
    <transmission name="${side}_shoulder_lift_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${side}_shoulder_lift_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${side}_shoulder_lift_motor">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>${13/3 * 245.532/17.19 / cal_r_shoulder_lift_gearing}</mechanicalReduction>
        <compensator k_belt="4000.0" mass_motor="0.05" kd_motor="10.0" lambda_motor="60.0" lambda_joint="60.0" 
          lambda_combined="0.0"/>
      </actuator>
    </transmission>
    
    <!-- S3: Upperarm roll -->
    <transmission name="${side}_upper_arm_roll_trans">
      <type>transmission_interface/SimpleTransmission</type>    
      <joint name="${side}_upper_arm_roll_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${side}_upper_arm_roll_motor">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>${13/3 * 129.53/17.19 / cal_r_upper_arm_roll_gearing}</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
</robot>