<?xml version="1.0"?>

<!-- XML namespaces -->
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Things that are needed only for Gazebo (not the physical robot).  These include
       sensor and controller plugin specifications -->
  <xacro:include filename="$(find aurobot_description)/urdf/trunk/trunk.gazebo.xacro"/>
  <xacro:include filename="$(find aurobot_description)/urdf/common.xacro"/>

 <!-- ============================   Profiles   ============================ -->

  <xacro:macro name="trunk" params="left_child head_child">
    <!-- Trunk link -->
    <link name="trunk_link">
      <inertial>
        <mass value="76.5"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.00"  ixy="0.00"  ixz="0.00" iyy="0.00" iyz="0.00" izz="0.00"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://aurobot_description/meshes/trunk/trunk.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="blue"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://aurobot_description/meshes/trunk/trunk.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <joint name="trunk_left_joint" type="fixed">
      <parent link="trunk_link"/>
      <child link="${left_child}"/>
      <origin xyz="0 0.13790 1.22809" rpy="0 1.0471975512 1.5707963268"/>
    </joint>
    <joint name="trunk_head_joint" type="fixed">
      <parent link="trunk_link"/>
      <child link="${head_child}"/>
      <!-- BRAYAN (16-05-2017): Temporalmente puesto como una cabeza adelantada orientada hacia adelante. 
      -1.570796327 0 -1.570796327-->
      <origin xyz="0.150 0 1.47" rpy="-2.042035225 0 -1.570796327"/>
    </joint>

    <!-- extensions   -->
    <xacro:trunk_gazebo/>
  </xacro:macro>
</robot>
